body {
    background: rgb(122,86,86);
}
header{
    text-align: center;
      background:url('images/wood.jpg');
      background-size: cover;
      color: white;
}
 .Home {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    a{
        color= white
    }
