body {
    background: #f6c1c1;
}
header{
    text-align: center;
      background: url('https://lh3.google.com/u/0/d/0B7nbeixt-XGZS2dsaTZkeWpwS00=w1920-h875-iv1');
      background-size: cover;
      color: white;
}
 .Home {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    a{
        color; white;
    }
